<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
</head>
<body>
<h2>Edit Expense</h2>
    <form method="POST" class="container pt-3 pb-3 m-auto">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-6">
                <label for="date">Date</label>
                <div>
                    {{ form.date }}
                </div>
            </div>

            <div class="col-6">
                <label for="time">Time</label>
                <div>
                    {{ form.time }}
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-6">
                <label for="category">Category</label>
                <div>
                    {{ form.category }}
                </div>
            </div>
            <div class="col-6">
                <label for="amount">Amount</label>
                <div>
                    {{ form.amount }}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="description" class="form-label">{{ form.description.label }}</label>
            </div>
            <div>
                {{ form.description }}
            </div>
        </div>
        <br><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>