{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/css/bootstrap.min.css' %}">
    <script src="{% static 'js/js/bootstrap.min.js' %}"></script>

    <title>Manage Expenses</title>

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->

<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">

        <div class="logo">
            <h1>Grands Expense Tracker</h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'addexpense' %}">Add Expense</a></li>
                <li><a class="active " href="{% url 'manage' %}">Manage Expenses</a></li>
                {#                <li><a href="{% url 'addbudget' %}">Add Budget</a></li>#}

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

    </div>
</header>
<!-- End Header -->

<main id="main">

    <!-- ======= Add Expense Section ======= -->

    <section class="hero-section inner-page">
        <div class="wave">

            <svg width="1920px" height="265px" viewBox="0 0 1920 265" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
                        <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,667 L1017.15166,667 L0,667 L0,439.134243 Z"
                              id="Path"></path>
                    </g>
                </g>
            </svg>

        </div>

        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <div class="col-md-7 text-center hero-text">
                            <h1 data-aos="fade-up" data-aos-delay="">Manage Expenses</h1>
                            <p class="mb-5" data-aos="fade-up" data-aos-delay="100">Below is a customizable List of your
                                recent Expense.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>{{ title }}</h1>

    <div class="myForm">
        <form method='POST' action='' class="search-form">
            {% csrf_token %}
            <div class="row">
                <div class='col-sm-12'>
                    <div class="form-row d-flex">
                        {#                        <div class="form-group col-md-3">#}
                        {#                            {{ form.invoice_number|as_crispy_field }}#}
                        {#                        </div>#}
                        {#                        <div class="form-group col-md-3">#}
                        {#                            {{ form.name|as_crispy_field }}#}
                        {#                        </div>#}
                        <div class="form-group col-md-3">
                            {{ form.category }}
                        </div>
                        <div class="form-group col-md-3 align-self-center">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br>

    <table class='table'>
        <thead>
        <tr>
            <th>DATE</th>
            <th>TIME</th>
            <th>CATEGORY</th>
            <th>AMOUNT</th>
            <th>DESCRIPTION</th>
            <th>ACTION</th>
        </tr>
        </thead>
        {% for exp in expense %}
            <tr>
                <td>{{ exp.date }}</td>
                <td>{{ exp.time }}</td>
                <td>{{ exp.category }}</td>
                <td>{{ exp.amount }}</td>
                <td>{{ exp.description }}</td>
                <td><a href="{% url 'edit' exp.id %}" class="btn btn-warning">edit</a></td>
                <td><a href="{% url 'delete' exp.id %}" class="btn btn-danger">delete</a></td>
            </tr>
        {% endfor %}
    </table>
</main>

<!-- ======= Footer ======= -->
<footer class="footer " role="contentinfo" style="background-color: #526b9d">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <h3>About Grands</h3>
                <p>This is an expense tracking company located in Nairobi, Kenya. It was started back in 2022 and its
                    growth has been tremendous</p>
                <p class="social">
                    <a href="#"><span class="bi bi-twitter"></span></a>
                    <a href="#"><span class="bi bi-facebook"></span></a>
                    <a href="#"><span class="bi bi-instagram"></span></a>
                    <a href="#"><span class="bi bi-linkedin"></span></a>
                </p>
            </div>
            <div class="col-md-7 ms-auto">
                <div class="row site-section pt-0">
                    <div class="col-md-4 mb-4 mb-md-0">
                        <h3>Navigation</h3>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'addexpense' %}">Add Expense</a></li>
                            <li><a href="{% url 'manage' %}">Add Budget</a></li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="row justify-content-center text-center">
            <div class="col-md-7">
                <p class="copyright">&copy; Copyright GrandsCompany. All Rights Reserved</p>
                <div class="credits">

                    Designed by <a href="#">GrandsCompany</a>
                </div>
            </div>
        </div>

    </div>
</footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<script src="{% static 'js/jquery-3.6.4.js' %}"></script>
<script src="{% static 'jquery-ui-1.13.2/jquery-ui.js' %}"></script>
<script src="{% static 'js/fancyTable.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>