{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>Registrations and Login</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                {% block title %}
                {% endblock %}

                
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</body>

</html>

<!--    log in to the app through this URL: localhost:8000/accounts/login
        logout URL is: localhost:8000/accounts/logout -->