.body-content{
    max-width: 1000px;
    margin-inline: auto;
}
/* -----------------------------------------buttons------------------------------------------------- */
a {
    text-decoration: none;
}

/* changes other than color */
a:hover,
button:hover {
    color: #000 !important;
}

.btn-primary {
    padding: 5px 1em;
    background-color: #28a745;
    color: #fff;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
}

li {
    list-style: none;
}

.title-color {
    color: #28a745;
}


/* -----------------------------------------*------------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* -----------------------------------------navigation bar------------------------------------------------- */
.logo {
    margin-right: auto;
    margin-left: 5em;
}

.logo a {
    font-size: 2em;
}

#nav {
    margin: auto;
    display: flex;
}

nav {
    /* background-color: #0075fc; */
    background-color: #238f3b;
    /* height: 10vh; */
    display: flex;
    /* padding: 5px; */
}

ul {
    display: flex;
    gap: 5em;
    transition: 0.5s ease-in-out;
}

nav li {
    list-style: none;
    padding: 0 0.4em;
}

nav a {
    text-decoration: none;
    margin-top: 10px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    color: #ffffff;
}

.toggle {
    display: none;
    font-size: 2em;
    margin: 10px 10px 0 auto;
    cursor: pointer;
}

@media (max-width:450px) {
    .logo {
        margin-left: 1em;
    }
}

@media (max-width:1050px) {
    ul {
        gap: 1em;
    }
}

@media (max-width:780px) {
    #nav {
        display: none;
        z-index: 1;
    }

    #nav ul {
        flex-direction: column;
        position: absolute;
        margin-top: 34px;
        background-color: #28a745;
        width: 200px;
        right: 0;
    }

    .toggle {
        display: block;
    }

    #nav .btn-primary {
        padding: 5px 1em;
    }
}

/* ------------------------------------------------------------------------------------------------------------------ 
.                                                           HERO SECTION
---------------------------------------------------------------------------------------------------------------------- */
/* .image-container {
    max-height: 100vh;
    position: relative;
} */

.image {
    display: flex;
}

.image-container img {
    /* width: 98.8vw; */
    width: 100vw;
    height: 500px;
}

.mySlides {
    /* display: none; */
    justify-content: center;
}

.prev,
.next {
    font-size: 3em;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    color: #28a745;
    align-self: center;
    transition: 0.5s ease-in-out;
    border-radius: 0 5px 5px 0;
}

.prev:hover,
.next:hover {
    background-color: #06b8ffaf;
}

.next {
    right: 0;
    border-radius: 5px 0 0 5px;
}

.image-content {
    position: absolute;
    align-self: flex-end;
}

.image-content p {
    font-size: 4em;
    color: #28a745;
    text-transform: uppercase;
    filter: blur(1px);
    display: none;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #28a745;
}

@media (max-width:512px) {
    .image-content p {
        font-size: 3em;
    }
}

@media (max-height:516px) {
    .image-container {
        margin-top: 20px;
    }
}

/* .fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from {opacity: .4}
    to{opacity: 1}
} */

/* ------------------------------------------------------------------------------------------------------------------ 
.                                                            CONTENT SECTION
---------------------------------------------------------------------------------------------------------------------- */
.who-we-are,
.our-offer,
.unique-opportunity {
    margin-top: 40px;
}

/* .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.card {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    border: 1px solid #b6b6b6;
    border-radius: 10px;
}

/* .card-img {
    min-width: auto;
    min-height: auto;
    width: 100%;
    height: auto;
} */

.card img {
    /* max-width: 100%; */
    width: 100%;
    border-radius: 10px;
    /* height: 470px; */
    /* border-radius: 50%; */
}

.card-text {
    padding: 5px 5px 15px 5px;
    /* width: 50vw; */
    /* max-width: 500px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* text-align: center; */
}

.card-text .head {
    font-size: 2.5em;
    text-transform: capitalize;
    /* color: #00f83e; */
}

.card-text .text {
    font-size: 1em;
}

.card-text .btn-primary {
    /* margin-top: 20px; */
    padding: 10px;
    width: 250px;
    align-self: center;
    margin-top: 10px;
}

@media (max-width:940px) {
    .card {
        /* width: 100vw; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:600px) {
    .card-img {
        width: 100%;
    }

    .card-text .head {
        font-size: 3em;
    }

    .card-text .text {
        font-size: 1em;
    }
}

@media (max-width:310px) {
    .card-text .head {
        font-size: 2em;
    }

    .card-text .text {
        font-size: 1em;
    }
}

/* ------------------------------------------------------------------------------------------------------------------ 
.                                                            INVEST WRAPPER
---------------------------------------------------------------------------------------------------------------------- */
.invest-wrapper {
    margin: 10px;
}

.invest-title {
    font-size: 1.5em;
    text-align: center;
}

.invest-text {
    /* max-width: 1000px; */
    max-inline-size: 1000px;
    margin-inline: auto;
}

.invest-card {
    max-width: 190px;
    height: 274px;
    background: white;
    padding: .4em;
    border-radius: 6px;
}

.invest-card-image {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 60%;
    border-radius: 6px 6px 0 0;
}

.invest-card-image:hover {
    transform: scale(0.98);
}

.invest-category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
}

.invest-category:hover {
    cursor: pointer;
}

.invest-heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
}

.invest-heading:hover {
    cursor: pointer;
}

.invest-author {
    color: rgb(128, 128, 128);
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
}

.invest-name {
    font-weight: 600;
}

.invest-name:hover {
    cursor: pointer;
}

.invest-card-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 10px;
    padding: 20px 0;
    justify-content: center;
    /* overflow: scroll; */
}

/* .invest-card1, .invest-card2, .invest-card3, .invest-card4, .invest-card5, .invest-card6{
    max-width: 200px;
    height: 150px;
    margin: 5px;
    padding: 10px;
    background-color: #acacac;
    border-radius: 20px;
} */

.invest-card-btn {
    max-inline-size: 100px;
    margin-inline: auto;
}

/* ------------------------------------------------------------------------------------------------------------------ 
.                                                            IFRAME SECTION
---------------------------------------------------------------------------------------------------------------------- */
.tradingview-widget-copyright {
    font-size: 13px !important;
    line-height: 32px !important;
    text-align: center !important;
    vertical-align: middle !important;
    font-family: 'Trebuchet MS', Arial, sans-serif !important;
    color: #9db2bd !important;
}

.tradingview-widget-copyright .blue-text {
    color: #2962FF !important;
}

.tradingview-widget-copyright a {
    text-decoration: none !important;
    color: #9db2bd !important;
}

.tradingview-widget-copyright a:visited {
    color: #9db2bd !important;
}

.tradingview-widget-copyright a:hover .blue-text {
    color: #1E53E5 !important;
}

.tradingview-widget-copyright a:active .blue-text {
    color: #1848CC !important;
}

.tradingview-widget-copyright a:visited .blue-text {
    color: #2962FF !important;
}

.tradingview-widget-container {
    width: 770px;
    margin-left: 10px;
    height: 400px;
}

.iframe-text-div {
    width: 250px;
}

.iframe-div {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 1150px) {
    .iframe-div {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .iframe-text-div {
        width: 770px;
        margin: 20px;
    }
}

@media screen and (max-width: 830px) {
    .iframe-text-div {
        width: 100%;
        margin: 20px;
    }

    .tradingview-widget-container {
        width: 100%;
        margin-left: 0;
        overflow: scroll;
    }
}

/* ------------------------------------------------------------------------------------------------------------------ 
.                                                            SERVICES SECTION
---------------------------------------------------------------------------------------------------------------------- */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

.about-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-heading span,
.header span {
    color: #28a745;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
}

.about-heading strong,
.header strong {
    color: #d3cccc;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 700;
}

.about-container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    margin: 50px 0 20px 0;
}

.about-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.about-box i {
    font-size: 2.1rem;
    margin-bottom: 10px;
}

.about-box p {
    color: #1d6c86;
    font-size: 0.9rem;
}

.about-box strong {
    font-size: 1rem;
    font-weight: 600;
    color: #28a745;
}

/* ------------------------------------------------------------------------------------------------------------------ 
.                                                            ICON COLORS
---------------------------------------------------------------------------------------------------------------------- */
.fa-paw {
    color: #28a745;
}

.fa-home {
    color: #28a745;
}

.fa-file-alt {
    color: #28a745;
}

.fa-tag {
    color: #28a745;
}

.fa-thumbtack {
    color: #28a745;
}

.fa-wallet {
    color: #28a745;
}

@media(max-width:1200px) {
    .about-container {
        width: 100%;
    }
}

@media(max-width:1000px) {
    .about-container {
        width: 95%;
    }

    #contact {
        margin-top: 40px;
    }
}

@media(max-width:1000px) {
    .about-container {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .about-heading strong {
        font-size: 1.4rem;
        text-align: center;
    }
}

@media(max-width:460px) {
    .about-heading {
        width: 90%;
    }

    .about-heading strong {
        font-size: 1.3rem;
        text-align: center;
    }
}

/* ------------------------------------------------------------------------------------------------------------------ 
.                                                           FOOTER SECTION
---------------------------------------------------------------------------------------------------------------------- */
.footer {
    background-color: #28a745;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* padding: .5em 0; */
}

#contact {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#contact,
.newsletter {
    /* background-color: #142850; */
    display: flex;
    flex-direction: column;
    /* width: 300px; */
    /* height: 300px; */
}

.contact h4 {
    font-weight: 700;
    font-size: 15px;
    color: #363b44;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.newsletter h3 {
    line-height: normal;
    margin: .5em 0;
    color: #000000;
    font-size: 1.5rem;
}

.social {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.social i {
    /* display: flex; */
    font-size: 2em;
}

.social a i {
    color: #000;
}

input {
    font-family: Avenir Next Rounded W01, sans-serif;
    font-size: 1em;
    border: 1px solid #8a8585;
    padding: 0.5rem 0.5rem;
    background: #fff;
    flex-grow: 1;
    color: #000;
    line-height: normal;
    margin: 0 0 10px 10px;
}

button {
    margin: 10px 0 0 10px;
}

.menu {
    text-align: left;
}

.quick-links {
    margin-inline: auto;
}

.quick-links ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.quick-links li {
    list-style: none;
}

.quick-links h3,
#contact h4 {
    color: #000;
}

.quick-links a {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    color: #ffffff;
    /* margin: 5px 0; */
}

.footer p {
    font-size: 12px;
    color: #ffffff;
}

/* 768 */
@media (max-width:440px) {
    .links {
        grid-template-columns: 1fr;
        /* padding: 1em 0; */
    }

    /* .menu {
        text-align: center;
    } */

    /* .quick-links {
        display: none;
    } */

    .quick-links ul {
        flex-direction: row;
    }

    input {
        margin: 10px 0;
    }

    #contact,
    .newsletter {
        width: auto;
        height: auto;
    }
}