{#<!doctype html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport"#}
{#          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">#}
{#    <meta http-equiv="X-UA-Compatible" content="ie=edge">#}
{#    <title>Index</title>#}
{#    {% load static %}#}
{#    <link rel="stylesheet" href="{% static 'bootstrap-5.3.2-dist/css/bootstrap.min.css' %}">#}
{#</head>#}
{#<body>#}
{% extends 'layout.html' %}
<title>{% block title %}Index{% endblock %}</title>
{% block content %}
<h1>Welcome to homepage</h1>
{% endblock %}

{#<script src="{% static 'bootstrap-5.3.2-dist/js/bootstrap.min.js' %}"></script>#}
{#</body>#}
{#</html>#}