{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "navbar.html" %}
<section id="hero">
    <div class="image-container">
        <div class="image">
            <div class="mySlides fade">
                <img src="{% static '/img/hero1.jpg' %}" alt="">
                <div class="image-content">
                    <p>this is bike text</p>
                </div>
            </div>
            <div class="mySlides fade">
                <img src="{% static '/img/hero2.jpg' %}" alt="">
                <div class="image-content">
                    <p>this is angry birds text</p>
                </div>
            </div>
            <div class="mySlides fade">
                <img src="{% static '/img/hero3.jpg' %}" alt="">
                <div class="image-content">
                    <p>this is batcar text</p>
                </div>
            </div>
            <div class="mySlides fade">
                <img src="{% static '/img/hero5.jpg' %}" alt="">
                <div class="image-content">
                    <p>this is bike2 text</p>
                </div>
            </div>
            <!-- <div class="mySlides fade">
                    <img src="{% static '/img/hero5.jpg' %}" alt="">
                    <div class="image-content">
                        <p>this is bike2 text</p>
                    </div>
                </div> -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div> <br>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <!-- <span class="dot" onclick="currentSlide(5)"></span>
                <span class="dot" onclick="currentSlide(6)"></span>
                <span class="dot" onclick="currentSlide(7)"></span>
                <span class="dot" onclick="currentSlide(8)"></span> -->
        </div>
    </div>
</section>

<section id="footer">
    <div class="footer">
        <div class="links">
            <div id="contact">
                <h4>Stay in Touch</h4>
                <div class="menu social">
                    <a href="https://www.facebook.com/SafaricomPLC/" target="_blank" rel="noopener noreferrer"><i
                            class="iconfont fa-brands fa-facebook"></i></a>
                    <a href="https://www.youtube.com/user/SafaricomOfficial" target="_blank"
                        rel="noopener noreferrer"><i class="iconfont fa-brands fa-youtube"></i></a>
                    <a href="https://www.linkedin.com/company/safaricom/" target="_blank" rel="noopener noreferrer"><i
                            class="iconfont fa-brands fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/safaricomplc_/" target="_blank" rel="noopener noreferrer"><i
                            class="iconfont fa-brands fa-instagram"></i></a>
                </div>
                <div class="menu newsletter">
                    <h3>Receive newsletters and tips</h3>
                    <form method="post">
                        <input type="email" name="email" id="newsletter" placeholder="email">
                        <button type="submit" class="btn-primary">submit</button>
                    </form>
                </div>
            </div>
            <div class="menu quick-links">
                <h3>Quick Links</h3>
                <ul>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'logout' %}">logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'signup_login' %}">Sign In</a>
                    </li>
                    {% endif %}
                    <li><a href="https://www.safaricom.co.ke/about-landing">About</a></li>
                    <li><a href="https://www.safaricom.co.ke/careers">Careers</a></li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'logout' %}">logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'signup_login' %}">Invest</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <p>© 2020-present. All Rights Reserved.</p>
    </div>
</section>

{% endblock %}









{% comment %} ---------------------------------------------------------------------------- {% endcomment %}
{% comment %}
{% if user.is_authenticated %}
<h2>Hello {{ user.username|default:'Guest' }}</h2>
{% else %}
<h2>Login to see more content</h2>
{% endif %}
<section id="iframe">
    <div class="iframe-div">
        <div class="tradingview-widget-container">
            <iframe scrolling="no" allowtransparency="true" frameborder="0"
                src="https://s.tradingview.com/embed-widget/forex-cross-rates/?locale=en#%7B%22width%22%3A770%2C%22height%22%3A400%2C%22currencies%22%3A%5B%22EUR%22%2C%22USD%22%2C%22JPY%22%2C%22GBP%22%2C%22CHF%22%2C%22AUD%22%2C%22CAD%22%2C%22NZD%22%2C%22CNY%22%5D%2C%22isTransparent%22%3Atrue%2C%22colorTheme%22%3A%22light%22%2C%22utm_source%22%3A%22greenpalminvest.io%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22forex-cross-rates%22%7D"
                style="box-sizing: border-box; height: calc(368px); width: 770px;"></iframe>
            <!-- <div class="tradingview-widget-copyright">&copy;Provided by TradingView</div> -->
            <div class="tradingview-widget-copyright"></div>
        </div>
        <div class="iframe-text-div">
            <div class="iframe-title">
                <h1 class="title-color">Make the right choice</h1>
            </div>
            <div class="iframe-text">
                <p>However and whatever you choose to trade is up to you, here at CryptoLords we give you a variety
                    of tools to get you up tp speed with the trading world. Start investing now and realize your
                    dreams.</p>
            </div>
        </div>
    </div>
</section>
{% endcomment %}